@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff; /* Light mode background */
  --hover-bg-color: #e5e7eb; /* Light mode hover background */
  --default-circle-color: #d1d5db; /* Neutral gray for light mode */
}

.dark {
  --bg-color: #1f2937; /* Dark mode background */
  --hover-bg-color: #374151; /* Dark mode hover background */
  --default-circle-color: #4b5563; /* Neutral dark gray for dark mode */
}

body {
  @apply bg-gradient-to-br from-gray-100 to-gray-300;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}

.todo-item:hover {
  background-color: var(--hover-bg-color);
}